/* REGOLE GENERALI */

* {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    min-width: 380px;
    height: 100vh;
}

.ms_relative {
    position: relative;
}

/* REGOLE TEXT COLOR */
.ms_t-wh {
    color: white;
}

.ms_t-bl {
    color: black;
}
/* /FINE REGOLE TEXT COLOR */

/* REGOLE BORDI */
.ms_border {
    border: 1px solid rgba(205,205,205,255);
}

.ms_border-bottom {
    border-bottom: 1px solid rgba(205,205,205,255);
}

.ms_border-radius {
    border-radius: 10px;
}







/* BACKGROUNDS */
.ms_bg-white {
    background-color: white;
}

.ms_bg-blue {
    background-color: rgba(27,114,232,255);
}

.ms_bg-sidenav {
    background-color: rgba(5,30,52,255);
    background-image: url(../img/sidebar-bg.png);
}

.ms_bg-title-card {
    background-color: rgba(247,247,247,255);
}
/* /FINE BACKGROUNDS */
/* /FINE REGOLE GENERALI */






/* REGOLE HEADER */
#logo-image {
    max-width: 100%;
    object-fit: cover;
}

#logo-mobile {
    width: 40px;
    height: 28px;
    object-fit: cover;
}

header .form-control {
    background-color: rgba(229,229,229,255);
    border-left: none;
}

header .input-group-text {
    background-color: rgba(229,229,229,255);
}

.dropdown-toggle::after {
    display: none;
}

header .nav-link {
    color: rgba(91,88,88,255);
}

header #bell {
    color: rgba(255,143,0,255);
}
/* /FINE REGOLE HEADER */






/* REGOLE MAIN */
.fix-padding {
    padding-top: 58px;
}

.ms_h-col {
    height: calc(100vh - 56px);   
}

.ms_side-col {
    width: 70px;
}

.ms_main-col {
    width: calc(100% - 70px);
}

/* REGOLE SIDEBAR */
main .nav-link {
    color: white;
}

.nav-link .fa-solid {
    width: 20px;
}

.admin {
    position: absolute;
    bottom: 10px;
}
/* /FINE REGOLE SIDEBAR */

/* REGOLE CONTENUTO SUPERIORE */
main .breadcrumb a {
    color: white;
    text-decoration: none;
    background-color: rgba(22,91,186,255);
    padding: 5px;
    border-radius: 15px;
    font-size: 0.8rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: white;
    content: ">>";
}



/* OFFCANVAS */
#offcan-button {
    background-color: rgba(27,114,232,255);
    border: 1px solid white;
}
/* /FINE OFFCANVAS */

/* /FINE REGOLE CONTENUTO SUPERIORE */

/* INIZIO REGOLE CONTENUTO INFERIORE */
#tbl-cnt {
    width: 35%;
}

#tbl-cnt::before {
    content: "</>";
    background-color: rgba(242,101,81,255);
    margin-right: 5px;
    padding: 3px;
    border-radius: 50%;
    color: white;
}

.tags-done {
    background-color: rgba(25,135,84,255);
    padding: 3px;
    border-radius: 10px;
}

.tags-process {
    background-color: rgba(255,193,7,255);
    padding: 3px;
    border-radius: 10px;
}

.tags-failed {
    background-color: rgba(220,53,69,255);
    padding: 3px;
    border-radius: 10px;
}

.tab-icns {
    border: 2px solid rgba(108,117,125,255);
    color: rgba(108,117,125,255);
    padding: 4px;
    border-radius: 5px;
    margin-right: 1px;
    display: inline-block;
}



/* /FINE REGOLE CONTENUTO INFERIORE */

/* /FINE REGOLE MAIN */



/* MEDIA QUERY */
.only-desk {
    display: none;
}

@media all and (min-width:992px) {
    .only-desk {
        display:inline-block;
    }

    .ms_side-col {
        width: 160px;
    }

    .ms_main-col {
        width: calc(100% - 160px);
    }
}

@media all and (max-width:582px) {
    .tbl-no-d {
        display: none;
    }
}
/* /FINE MEDIA QUERY */



/* DEBUG */
.debug {
    
    /* background-color: red; */
    border: 1px solid black;
    
}

.debug-2 {
    /* background-color: red; */
    border: 1px solid black;
    /* min-height: 100px; */
    

}

.debug-alt {
    height: 70px;
}

.debug-alt-2 {
    height: 30px;
}

.debug-alt-3 {
    height: 25px;
}
.debug-alt-4 {
    height: 40px;
}


