/* REGOLE GENERALI */

* {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    min-width: 380px;
    height: 100vh;
}
/* /FINE REGOLE GENERALi */

/* REGOLE HEADER */

/* /FINE REGOLE HEADER */

/* REGOLE MAIN */
.fix-padding {
    padding-top: 56px;
}

.admin {
    position: absolute;
    bottom: 10px;
}

.ms_h-col {
    height: calc(100vh - 56px);   
}

.ms_relative {
    position: relative;
}

/* /FINE REGOLE MAIN */



/* MEDIA QUERY */
.only-desk {
    display: none;
}

@media all and (min-width:992px) {
    .only-desk {
        display:inline-block;
    }
}
/* /FINE MEDIA QUERY */



/* DEBUG */
.debug {
    
    /* background-color: red; */
    border: 1px solid black;
    
}

.debug-2 {
    background-color: red;
    border: 1px solid black;
    /* min-height: 100px; */
    

}

.debug-alt {
    height: 70px;
}

.debug-alt-2 {
    height: 30px;
}

.debug-alt-3 {
    height: 25px;
}
.debug-alt-4 {
    height: 40px;
}


